<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogobox.appuikit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".animation.SampleFrogoAnimationTransitionActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transition" />
        <activity
            android:name=".animation.SampleFrogoAnimationActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Transition" />
        <activity
            android:name=".compose.ComposeActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity android:name=".recycler.RecyclerViewDetailActivity" />
        <activity android:name=".recycler.RecyclerViewActivity" />
        <activity
            android:name=".loadingindicator.SampleFrogoLoadingIndicatorViewActivity"
            android:exported="true" />
        <activity
            android:name=".loadingindicator.DetailLoadingIndicatorActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>